@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-5xl font-bold;
}
body {
  background-color: #f8f9fb;
}
h2 {
  @apply text-4xl font-bold;
}
h3 {
  @apply text-3xl font-semibold;
}
h4 {
  @apply text-sm text-black/70 font-medium;
}
h5 {
  @apply text-xl font-medium;
}
h6 {
  @apply text-xs font-medium  text-black/70;
}
p {
  @apply text-xs font-normal;
}
.face {
  animation: faces 10s 10ms linear infinite;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: center;
  background-image: url("/src/assets/worryface.png");
  scale: 2;
  transition: all 0.2s ease-in-out;
}

.faced {
  background-image: url("/src/assets/smilingface.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.role{
  display: none;
  position: absolute;
  top: 10;
  left: 10;
  background-color: #fff;
  font-size: 10px;
  padding: 4px;
 }

.face:hover{
  
  .role{
    display:block
        

  }
}